.mapResize{
  width: 100em;
  height: 20em;
}
.right {
    position: absolute;
    right: 0px;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
}
.overlayMap{
  position: absolute;
  top: 10em;
  left: 20em;
  width: 15em;
  margin: 30px;
  background-color: red;
  padding: 3em;
  border: 1px solid black;
  opacity: 0.6;
}