section#map{
  width: 80%;
  float: left;
  margin: 0;
  padding: 0;
  display: inline;     
}
.right {
    float: right;
    right: 0px;
    width: 20%;
    border: 3px solid #73AD21;
    padding: 10px;
    display: inline;
  margin: 0;
  padding: 0;
}
urMap {
    width: 80%;
}
.overlayMap{
  position: absolute;
  top: 10em;
  left: 20em;
    width: 30px;
    height: 20px;
  background-color: red;
  padding: 3em;
  box-sizing: border-box;
  opacity: 0.6;
}
nav{    
  width: 150px;
  float: left;
}