.mapResize{
  float: left;
  width: 100em;
  height: 20em;
}
.right {
    float: right;
    right: 0px;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
}
.overlayMap{
  position: absolute;
  top: 10em;
  left: 20em;
    width: 30px;
    height: 20px;
  background-color: red;
  padding: 3em;
  box-sizing: border-box;
  opacity: 0.6;
}